@page
@model jhyf.Pages.Links.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Здесь предоставлены все полезные ссылки</h1>

<p>
    <a asp-page="Create">Добавить ссылку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link[0].NameFromLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link[0].Linki)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Link) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameFromLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linki)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
